name: GDUtils Base Image

on: workflow_dispatch

env:
  IMAGE: ghcr.io/nenokkadine/gdutils

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to ghcr.io
        run: docker login https://ghcr.io -u token -p ${{ secrets.GH_TOKEN }}
        
      - name: Build and Push image
        run: |
          docker build . -f baseimage/Dockerfile -t ${{ env.IMAGE }}:latest
          echo "Pushing"
          docker push ${{ env.IMAGE }}:latest